"""
Scenarios for day {day}
"""

from common.scenario import Scenario

part_01_scenarios = [
    Scenario(input="""<paste here>
                   """,
             output="<paste here>"),
]

part_02_scenarios = [
    Scenario(input="""<paste here>
                   """,
             output="<paste here>"),
]